<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barmycodes</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <style>
      body {
        background-color: #fafafa;
      }
    </style>
  </head>
  <body class="sidebar-layout">
    <header class="mobile-navbar">
      <button id="toggle-sidebar" type="button">Open</button>
      <h1>Bar My Codes</h1>
    </header>
    <section class="sidebar">
      Sidebar
      <div class="overlay">&nbsp;</div>
    </section>
    <main role="main" class="content">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>

    <script>
      var sidebar = new Sidebar({ el: '.sidebar' })
      document.querySelector('#toggle-sidebar').addEventListener('click', function() {
        sidebar.toggle()
      })
    </script>
  </body>
</html>
