{{ template "layout.html.tmpl" . }}

{{ define "content" }}
<div class="sidebar-layout">
  <div class="sidebar">
    <h1>Bar My Codes</h1>

    <label class="barcodes" for="barcode-values">Barcodes</label>
    <textarea
      id="barcode-values"
      autofocus="autofocus"
      placeholder="Enter each of your barcodes on a new line."
    ></textarea>
    <small>Press Ctrl/CMD + Enter to generate barcodes.</small>

    <div class="actions">
      <input
        id="type-code128"
        type="radio"
        name="type"
        value="Code128"
        checked="checked"
      />
      <label for="type-code128">Code128</label>

      <input
        id="type-qr"
        type="radio"
        name="type"
        value="QR"
      />
      <label for="type-qr">QR</label>

      <button type="submit" id="generate-barcodes" class="button primary ml-auto">Bar My Codes!</button>
    </div>

    {{ if . }}
      <form class="pdf-export" action="/pdf" method="GET">
        <input type="hidden" name="type" value="{{ (index . 0).Type }}" />
        {{ range . }}<input type="hidden" name="b[]" value="{{ .Value }}" />{{ end }}

        <div class="title">PDF Export</div>

        <div class="control">
          <label for="measurement">Measurement</label>
          <select id="measurement" name="measurement">
            <option value="auto">Auto</option>
            <option value="inch">inches</option>
            <option value="mm">millimeters</option>
          </select>
        </div>

        <div class="control dimension-input" style="display: none;">
          <label for="pdf-width">Width</label>
          <input
            type="text"
            id="pdf-width"
            name="width"
            placeholder="Page width"
          />
        </div>

        <div class="control dimension-input" style="display: none;">
          <label for="pdf-height">Height</label>
          <input
            type="text"
            id="pdf-height"
            name="height"
            placeholder="Page height"
          />
        </div>

        <button type="submit" class="button">Export to PDF</button>
      </form>
    {{ end }}
  </div>

  <div class="content">
    <div class="barcode-container">
      {{ if not . }}
        <div class="placeholder">Your barcodes will showup here.<br />Try it out to the left.</div>
      {{ else }}
        {{ range . }}
          <div class="barcode">
            <div class="title">{{ .Value }}</div>
            <img src="data:image/png;base64, {{ .Base64 }}" />
            <div class="footer">
              <a href="/png?b[]={{ .Value }}&type={{ .Type }}">PNG</a>
              <a href="/pdf?b[]={{ .Value }}&type={{ .Type }}">PDF</a>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
