{{ template "layout_top" . }}

{{ if .ErrorMessage }}
  <div class="alert error">{{ .ErrorMessage }}</div>
{{ end }}
<div class="barcode-container">
  {{ if not .Barcodes }}
    <div class="placeholder">Your barcodes will showup here.<br />Try it out to the left.</div>
  {{ else }}
    {{ range .Barcodes }}
      <div class="barcode">
        <div class="title">{{ .Value }}</div>
        <img src="data:image/png;base64, {{ .Base64 }}" />
        <div class="footer">
          <a href="/png?b[]={{ .Value }}&type={{ .Type }}">PNG</a>
          <a href="/pdf?b[]={{ .Value }}&type={{ .Type }}">PDF</a>
        </div>
      </div>
    {{ end }}
  {{ end }}
</div>

{{ template "layout_bottom" . }}
