<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Bar My Codes</title>

    <link rel="stylesheet" href="assets/application.css?v=20240804" />
    <script defer src="assets/application.js?v=20240804"></script>
  </head>
  <body>
    {{ block "content" . }}{{ end }}
  </body>
</html>
